<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Tasks</title>
</head>
<body>
    <h1>Add Task</h1>
    
    
    <div class="heading2">
        <p id="desc">Description</p>
        <p>Date</p>
        <p>Time</p>
    </div>
    <div class="create">
        <textarea placeholder="description" name="description" id="description"> </textarea>
        <input type="date" name="date" id = "date"/>
        <input type="time" name="time" id="time"/>
        <button type="button" id="sumbitBtn"> Add Task</button>
    </div>
    
    <script src="/js/create.js"></script>
</body>

</html>